header {
    background-size: auto;
    background-color:cornflowerblue;
    background-image: url(../Img/Img/pattern.png)
}

#logo {
    width: 300px;
    padding-top: 100px;
}

/* link ipertestuale */
a {
    text-decoration: none;
    color:mediumturquoise;
}

/* testo evidenziato */
.importante {
    background-size: contain;
    background-color:yellow;
}

